* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url('http://font.googleapis.com/css2?family=Poppins&display=swap');
body{
	font-family: 'Poppins', sans-serif;
}
.wrapper{
	width: 1200px;
	margin: 100px auto
}
.title{
	text-align: center;
	margin-bottom: 60px;
}
.title{
	text-transform: capitalize;
	font-size: 36px; 
	position: relative;
	display: inline-block;
}
.title h4 span{
	display: block;
	font-size: 18px;
	font-style: italic;
	margin-bottom: -15px;


}

}